.Header{
    height: 34vw;
    margin: 30px auto;
    background: url('./bg1.jpeg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 11px;
    animation: fadeUp 1s;

}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    font-weight: 600;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-content p{
    color: white;
    font-size: 1vw;
}
.header-content button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    border-radius: 30px;
    font-size: 15px;
}
.header-content button:hover{
    background-color:lightsalmon;
    color: white;
}
@media (max-width:1050px){
    
    .header-content{
        max-width: 46%;
    }
   .header-content p{
    font-size: 11px;
   }
}
@media (max-width:750px){
    .Header{
        padding: 90px;
    }
    .header-content{
        max-width:65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 10px 3vw;
        cursor: pointer;
        font-size: 13px;
    }
}